.about {
  background-color: #DCE1E3;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}
.about__grid {
  grid-template-columns: 60% auto;
}
.about__txt {
  padding-left: 15%;
  padding-right: 15%;
}
.about__img {
  border-radius: 50%;
  width: 100%;
  justify-self: center;
}
