.background {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}
.background__grid {
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}
.background__grid i {
  font-size: 30px;
  margin-bottom: 10px;
}
