.flex {
  display: flex;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--col {
  flex-direction: column;
}
.flex--space-btw {
  justify-content: space-between;
}
.flex--center {
  justify-content: center;
}
.flex--align-center {
  align-items: center;
}
