.quote {
  font-size: 15px;
  color: #DCE1E3;
  font-style: italic;
  text-align: right;
}
.quote--dark {
  margin-top: 20px;
}
.quote--dark {
  color: #5C5F58;
}
.quote--grid {
  grid-column-start: span 2;
}
