.skills {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  text-align: center;
}
.skills__icon {
  border-right: 4px solid #9A2A2A;
  border-left: 4px solid #9A2A2A;
  margin-top: 30px;
  font-size: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.skills__icon--font {
  font-size: 15px;
}
