@use 'palette';
@use '_base';

.quote {
  font-size: 15px;
  color: palette.$background;
  font-style: italic;
  // font-family: cursive;
  text-align: right;

  @include base.mod-position(dark, margin-top, 20px);

  @include base.mod-position(dark, color, palette.$header-secondary);

  @include base.mod-position(grid, grid-column-start, span 2);
}
