@use 'palette';

.skills {
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  text-align: center;

  &__icon {
    border-right: 4px solid palette.$header-primary;
    border-left: 4px solid palette.$header-primary;
    margin-top: 30px;
    font-size: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    &--font {
      font-size: 15px;
    }
  }

}