* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
:root {
  --background:  #DCE1E3;
  --accent: #B73225;
  --hover: #004E7C;
  --paragraph: #5C5F58;
  --accent2: #591C0B;
}
header {
  height: 1234px;
  background-image: url(images/fox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display:flex;
  justify-content: center;
  align-items: center;
}

header * {
  background-color: transparent;
  color: var(--accent);
  text-align: center;
}

header h1 {
  font-size: 75px;
  border-bottom: 3px solid var(--accent);
}

header p {
  font-size: 35px;
  margin-top: 15px;
}

#scroll-down {
  display: block;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: inherit;
 
}
@keyframes bounceInUp {
  0% {
     transform: translateY(20px);
  }
  50% {
     transform: translateY(-20px);
  }
  100% {
     transform: translateY(20px);
  }
} 

header a {
  font-size: 100px;
  animation: bounceInUp 5s infinite;
}

a {
  text-decoration: none; 
}

a:hover {
  color: var(--hover);
}

nav {
  position: absolute;
  top: 100%;
  right: 5%;
  background-color: var(--accent2);
  color: white;
  font-size: 20px;
}

nav > ul {
  list-style: none;
  margin: 20px;
  color: white;
}

nav a {
  color: white;
}

